
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<h2>Đăng Ký</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form action="/User/DangKy" method="post">
    <div>
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required />
    </div>
    <div>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required />
    </div>
    @*<div>
        <label for="userrole">vai trò người dùng:</label>
        <input type="text" id="userrole" name="userrole" placeholder="customer" required />
    </div>*@
    <hr>
    <h3>Thông tin khách hàng</h3>
    <div>
        <label for="customerName">Tên khách hàng:</label>
        <input type="text" id="customerName" name="customerName" required />
    </div>
    <div>
        <label for="customerPhone">Số điện thoại:</label>
        <input type="text" id="customerPhone" name="customerPhone" required />
    </div>
    <div>
        <label for="customerEmail">Email:</label>
        <input type="email" id="customerEmail" name="customerEmail" required />
    </div>
    <div>
        <label for="customerAddress">Địa chỉ:</label>
        <input type="text" id="customerAddress" name="customerAddress" required />
    </div>
    <div>
        <button type="submit">Đăng Ký</button>
    </div>
</form>

<p>Đã có tài khoản? <a href="/User/DangNhap">Đăng nhập tại đây</a></p>
