@model _23DH114270_MyStore.Models.Category

@{
    ViewBag.Title = "Xóa Danh Mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutADM.cshtml";
}

<h2 class="text-center my-4">XÓA DANH MỤC</h2>

<h3 class="text-center">Bạn có chắc chắn muốn xóa danh mục này không?</h3>
<div class="container">
    <hr />
    <dl class="dl-horizontal row">
        <dt class="col-sm-3">
            <h4>Tên danh mục</h4>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center mt-4">
            <input type="submit" value="Xóa" class="btn btn-danger mx-2" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary mx-2" })
        </div>
    }
</div>
